$primaryHeadingColor: #000000;
$primaryHeadingFontFamily: Arial;
$primaryHeadingFontStyle: normal;
$primaryHeadingFontWeight: 400;
$primaryHeadingFontSize: 1em;
$primaryHeadingLineHeight: 1.1;
$primaryHeadingLetterSpacing: normal;
$primaryHeadingMarginTop: 0;
$primaryHeadingMarginBottom: 0;
$primaryHeadingMarginLeft: 0;
$primaryHeadingMarginRight: 0;
$primaryHeadingPaddingTop: 0;
$primaryHeadingPaddingBottom: 0;
$primaryHeadingPaddingLeft: 0;
$primaryHeadingPaddingRight: 0;
$secondaryHeadingColor: #000000;
$secondaryHeadingFontFamily: Arial;
$secondaryHeadingFontStyle: normal;
$secondaryHeadingFontWeight: 400;
$secondaryHeadingFontSize: 1em;
$secondaryHeadingLineHeight: 1.1;
$secondaryHeadingLetterSpacing: normal;
$secondaryHeadingMarginTop: 0;
$secondaryHeadingMarginBottom: 0;
$secondaryHeadingMarginLeft: 0;
$secondaryHeadingMarginRight: 0;
$secondaryHeadingPaddingTop: 0;
$secondaryHeadingPaddingBottom: 0;
$secondaryHeadingPaddingLeft: 0;
$secondaryHeadingPaddingRight: 0;
$tertiaryHeadingColor: #000000;
$tertiaryHeadingFontFamily: Arial;
$tertiaryHeadingFontStyle: normal;
$tertiaryHeadingFontWeight: 400;
$tertiaryHeadingFontSize: 1em;
$tertiaryHeadingLineHeight: 1.1;
$tertiaryHeadingLetterSpacing: normal;
$tertiaryHeadingMarginTop: 0;
$tertiaryHeadingMarginBottom: 0;
$tertiaryHeadingMarginLeft: 0;
$tertiaryHeadingMarginRight: 0;
$tertiaryHeadingPaddingTop: 0;
$tertiaryHeadingPaddingBottom: 0;
$tertiaryHeadingPaddingLeft: 0;
$tertiaryHeadingPaddingRight: 0;