@import 'normalize';
@import 'class-styles';

ul{
	margin:0;
	padding:0;
}

ul li{
	list-style:none;
	padding:0;
	margin:0 0 1em;
	line-height:3em;
	border-bottom:1px solid #eeeeee;

	input,
	.btn-save,
	.btn-cancel{
		display: none;
	}

	button{
		text-align: right;
		padding-left:2em;
		background-color:#ffffff;
		border:none;
		background-repeat:no-repeat;
		background-position:5% 50%;
		background-size: 1rem;
		line-height: 2em;
		margin-left:1em;
		cursor: pointer;

		&:hover{
			text-decoration: underline;
		}	

		&.btn-edit{
			background-image:url(/images/edit.svg);
		}

		&.btn-save{
			background-image:url(/images/save.svg);
		}

		&.btn-cancel{
			background-image:url(/images/cancel.svg);
		}
		&.btn-delete{
			background-image:url(/images/delete.svg);
		}
	}
}

ul li.editing{
	input,
	.btn-save,
	.btn-cancel{
		display: inline-block;
	}

	label,
	.btn-edit,
	.btn-delete{
		display: none;
	}
}

ul li button{
	display:none;
}

ul li:hover button.btn-edit,
ul li:hover button.btn-delete{
	display:inline-block;
}

ul li.editing:hover button.btn-edit,
ul li.editing:hover button.btn-delete,{
	display:none;
}

div form{
	display:none;
}

.active form{
	display: block;
}

.primary-heading{
	display:block;
}

.class-form-container{
	
	label,
	button{
		display:none;
	}
	.toggle-class{
		display: block;
	}

	&.active{
		label,
		button{
			display: block;
		}
	}
}

.btn{
	cursor:pointer;
	font-size:1em;
	border-radius:0.25em;
	border:none;
	padding:1em 2em;
	color:#ffffff;
	-webkit-font-smoothing:antialiased;
	outline:none;
	float:left;
	display:inline-block;
	margin:1em 0.5em;
	background-color:rgb(150,150,150);
	transition:transform 0.1s ease-out, background-color 0.3s ease-out;
	&:active{
		transform:scale(0.95);
	}
	&:hover{
		background-color:rgb(120,120,120);
	}
}


.toggle-class{
	@extend .btn;
}

.submit-class{
	@extend .btn;
	background:rgb(0,180,60);
}

.class-form-container.active{
	.toggle-class{
		background:rgb(200,50,0);
	}
}