.primary-heading {
	font-size: 5vw;
	color: 'green';
	letter-spacing: 'normal';
	font-family: 'Helvetica';
	font-weight: 100
}
.secondary-heading {
	font-size: 5vw;
	color: 'red';
	letter-spacing: 'normal';
	font-family: 'Helvetica';
	font-weight: 100
}