.primary-heading {
	font-size: 4vw;
	color: red;
	letter-spacing: ht;
	font-family: Helvetica;
	font-weight: 100;
	margin-top: 1px;
	margin-bottom: 100px;
	padding-bottom: 100px;
	font-style: italic
}
.secondary-heading {
	font-size: 30px;
	color: brown;
	letter-spacing: normal;
	font-family: 'Helvetica';
	font-weight: 100
}