.primary-heading {
	font-size: 3em;
	color: green;
	letter-spacing: normal;
	font-family: Helvetica;
	font-weight: 100
}
.secondary-heading {
	font-size: 100px;
	color: red;
	letter-spacing: normal;
	font-family: 'Helvetica';
	font-weight: 100
}